:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196F3;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-white-color: #FFFFFF;
  --primary-black-color: #000000;
  --primary-bg-color: #2F303A;
  --secondary-bg-color: #F5F4FA;
  --hero-bg-color: #C4C4C4;
  --contact-color: #ffffff99;
  --primary-border-color: #ECECEC;
  --secondary-border-color: #EEEEEE;
  --svg-color: #AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--primary-white-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

button {
  font-family: var(--main-font);
  font-style: normal;
  cursor: pointer;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--notoppadding {
  padding-top: 0px;
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.page-header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--primary-black-color);
  margin-right: 93px;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

.page-footer__logo {
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.logo--accent,
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  border: 1px solid transparent;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.contact-list__link:hover,
.contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__svg {
  margin-right: 10px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.contact-list__link:hover .contact-list__svg,
.contact-list__link:focus .contact-list__svg {
  fill: var(--accent-color);
}

.contact-link {
  color: var(--contact-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* background-color: var(--primary-white-color) */
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__svg {
  fill: var(--svg-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.social-list__link:hover .social-list__svg,
.social-list__link:focus .social-list__svg {
  fill: var(--primary-white-color);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}

.page-footer .social-list__svg {
  fill: var(--primary-white-color);
}

.page-footer .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.page-footer .social-list__link:hover,
.page-footer .social-list__link:focus {
  background-color: var(--accent-color);
}

.address-list__item:not(:last-child) {
  margin-bottom: 5px;
}

.address-link {
  color: var(--primary-white-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 250ms var(--timing-function);
  transition: all 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: all 250ms var(--timing-function);
  transition: all 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  border-color: var(--accent-color);
}

.modal__close-svg {
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.modal__close-btn:hover .modal__close-svg,
.modal__close-btn:focus .modal__close-svg {
  fill: var(--accent-color);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
}

.modal-form__field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-form__field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.modal-form__wrapper {
  position: relative;
  display: block;
}

.modal-form__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.modal-form__comment {
  display: block;
  width: 100%;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.modal-form__field:focus-within .modal-form__input,
.modal-form__field:focus-within .modal-form__comment {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__field:focus-within .modal-form__svg {
  fill: var(--accent-color);
}

.modal-form__input:required:focus:valid:not(:-moz-placeholder-shown) {
  border-color: green;
}

.modal-form__input:required:focus:valid:not(:-ms-input-placeholder) {
  border-color: green;
}

.modal-form__input:required:focus:valid:not(:placeholder-shown) {
  border-color: green;
}

.modal-form__input:required:focus:invalid:not(:-moz-placeholder-shown) {
  border-color: red;
}

.modal-form__input:required:focus:invalid:not(:-ms-input-placeholder) {
  border-color: red;
}

.modal-form__input:required:focus:invalid:not(:placeholder-shown) {
  border-color: red;
}

.modal-form__send-btn {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 9px 30px;
  min-width: 200px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-form__policy-ladel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.modal-form__policy-ladel .agreement-link {
  padding-left: 5px;
  color: var(--accent-color);
}

.modal-form__policy-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--primary-black-color);
  border-radius: 2px;
}

.modal-form__policy:checked + .modal-form__policy-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/modal/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  background-size: contain;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.navigation-list__link:hover,
.navigation-list__link:focus,
.navigation-list__link--current {
  color: var(--accent-color);
}

.navigation-list__link {
  position: relative;
}

.navigation-list__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.page-header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  border-bottom: 1px solid var(--primary-border-color);
  background-color: var(--primary-white-color);
}

.page-header--no-border {
  border-bottom: none;
}

.hero {
  padding-top: 200px;
  /* padding-bottom: 200px; */
  text-align: center;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/bg.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--hero-bg-color);
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.modal-open-btn {
  padding: 9px 30px;
  min-width: 200px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-list__item {
  width: 270px;
}

.advantages-list__item::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-list__item--icon-antenna::before {
  background-image: url("../images/advantages/antenna.svg");
}

.advantages-list__item--icon-clock::before {
  background-image: url("../images/advantages/clock.svg");
}

.advantages-list__item--icon-diagram::before {
  background-image: url("../images/advantages/diagram.svg");
}

.advantages-list__item--icon-astronaut::before {
  background-image: url("../images/advantages/astronaut.svg");
}

.advantages-list__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-list__item {
  position: relative;
}

.services-list__name {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-list__content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--primary-white-color);
}

.team-list__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}

.team-list__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--svg-color);
  border-radius: 5px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.clients-list__svg {
  fill: var(--svg-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.clients-list__link:hover,
.clients-list__link:focus {
  border-color: var(--accent-color);
}

.clients-list__link:hover .clients-list__svg,
.clients-list__link:focus .clients-list__svg {
  fill: var(--accent-color);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-bg-color);
}

.calling {
  padding-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.mailing-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-white-color);
}

.mailing-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-form__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 28px;
  min-width: 200px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.mailing-form__btn::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../images/footer/send.svg");
}/*# sourceMappingURL=main.css.map */