:root {
--main-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;

--accent-color:#2196F3;
--main-text-color: #757575;
--secondary-text-color: #212121;
--primary-white-color: #FFFFFF;
--primary-black-color: #000000;
--primary-bg-color: #2F303A;
--secondary-bg-color:#F5F4FA;
--hero-bg-color: #C4C4C4;
--contact-color:#ffffff99;
--primary-border-color: #ECECEC;
--secondary-border-color: #EEEEEE;
--svg-color:#AFB1B8; 
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: var(--primary-white-color);
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.address {
    font-style: normal;
}
button {
    font-family: var(--main-font);
    font-style: normal;
    cursor: pointer;
}
img {
    display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===== COMPONENTS ===== */
.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-notoppadding {
    padding-top: 0px;
}
.logo {
    display: block;

    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.page-header .logo {
   padding-top: 24px;
   padding-bottom: 25px;
 
   color: var(--primary-black-color);
   margin-right: 93px;
}
.page-footer .logo {
    margin-bottom: 20px;

    color: var(--primary-white-color);   
}
.logo-accent, .logo:hover, .logo:focus {
    color: var(--accent-color);
}
.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
    border: 1px solid transparent;
}
.section-title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--secondary-text-color);
}
.address-link {
    color: var(--primary-white-color);
}
.contact-link {
    color: var(--contact-color);
}
.address-link:hover, .address-link:focus, 
.contact-link:hover, .contact-link:focus {
    color: var(--accent-color);
}
.social-list {
    display: flex;
    justify-content: center;
}
.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    border-radius: 50%;
    /* background-color: var(--primary-white-color) */
}
.social-list-item:not(:last-child) {
    margin-right: 10px;
} 
.social-list-svg {
    fill: var(--svg-color);
}
.social-list-link:hover .social-list-svg, 
.social-list-link:focus .social-list-svg {
    fill: var(--primary-white-color);
}
.social-list-link:hover, .social-list-link:focus  {
    background-color: var(--accent-color);
}
/* ===== END COMPONENTS ===== */

/* ===== HEADER ===== */
.page-header {
    border-bottom: 1px solid var(--primary-border-color);
}
.page-header .container {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
}
.navigation-list {
    display: flex;
}
.navigation-list-link {
   padding-top: 32px;
   padding-bottom: 32px;
   display: block;

   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color:var(--secondary-text-color);
}
.contact-list {
   display: flex;
   margin-left: auto;
}
.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}

.contact-list-item:not(:last-child) {
    margin-right: 50px;
}
.contact-list-link {
   display: flex;
   align-items: center;

   padding-top: 32px;
   padding-bottom: 32px;

   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: currentColor;
}

.navigation-list-link:hover, .navigation-list-link:focus,
.contact-list-link:hover, .contact-list-link:focus, .current-link {
     color: var(--accent-color);
}
.contact-list-svg {
    margin-right: 10px;
}
.contact-list-link:hover .contact-list-svg, 
.contact-list-link:focus .contact-list-svg {
    fill:var(--accent-color);
}

/* ===== END HEADER ===== */



/* ===== HERO ===== */
.hero {
    padding-top: 200px;
    /* padding-bottom: 200px; */
    text-align: center;  
}
.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url('../images/hero/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--hero-bg-color);
}
.hero-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);

}
.modal-btn {
    padding: 9px 30px;
    min-width: 200px;

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}
/* ===== END HERO ===== */

/* ===== ADVANTAGES ===== */
.advantages-list {
    display: flex;
    justify-content: space-between;
}
.advantages-list-item {
    width: 270px;
}
.advantages-list-item::before{
    content: '';
    display: inline-block;
    width: 100%;
    height: 120px;
    margin-bottom: 20px;

    border-radius: 4px;
    background-color: var(--secondary-bg-color);
    background-repeat: no-repeat;
    background-position: center;

}
.icon-antenna::before {
    background-image: url('../images/advantages/antenna.svg');

}
.icon-clock::before {
    background-image: url('../images/advantages/clock.svg');

}
.icon-diagram::before {
    background-image: url('../images/advantages/diagram.svg');

}
.icon-astronaut::before {
    background-image: url('../images/advantages/astronaut.svg');

}
.advantages-list-name {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

/* ===== END ADVANTAGES ===== */

/* ===== SERVICES ===== */
.services-list {
    display: flex;
    justify-content: space-between;
}
/* ===== END SERVICES ===== */


/* ===== TEAM ===== */
.team {
    background-color: var(--secondary-bg-color);
}
.team-list {
    display: flex;
    justify-content: space-between;
}
.team-list-content {
    padding-top: 30px;
    padding-bottom: 30px;

    text-align: center;
    background-color: var(--primary-white-color)
}
.team-list-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list-name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: #212121;
}
.team-list-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    margin-bottom: 16px;
}

/* ===== END TEAM ===== */

/* ===== CLIENTS ===== */
.clients-list {
    display: flex;
    justify-content: center;
}
.clients-list-item:not(:last-child) {
    margin-right: 30px;
}
.clients-list-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;

    border: 1px solid var(--svg-color);
    border-radius: 5px;
}
.clients-list-svg {
    fill: var(--svg-color);
}
.clients-list-link:hover, .clients-list-link:focus {
    border-color: var(--accent-color);
}
.clients-list-link:hover .clients-list-svg, 
.clients-list-link:focus .clients-list-svg {
    fill: var(--accent-color);
}
/* ===== END CLIENTS ===== */

/* ===== FOOTER ===== */
.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--primary-bg-color);
}
.address-list-item:not(:last-child) {
    margin-bottom: 5px;
}

/* ===== END FOOTER ===== */
.page-footer .container {
    display: flex;
}
.footer-contact {
    margin-right: 70px;
}
.appeal {
    padding-top: 12px;
    margin-bottom: 20px;

   font-weight: 700;
   line-height: 1.143;
   text-transform: uppercase;
   color: var(--primary-white-color);
}
.page-footer .social-list-svg {
    fill: var(--primary-white-color);
}
.page-footer .social-list-link {
    background-color: rgba(255, 255, 255, 0.1);
}
.page-footer .social-list-link:hover,
.page-footer .social-list-link:focus {
    background-color: var(--accent-color);
}
/* ===== PORTFOLIO PAGE ===== */
.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter-list-item:not(:last-child){
    margin-right: 8px;
}
.filter-list-item:hover, .filter-list-item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-list-btn {
    padding: 5px 22px;

    border-radius: 4px;
}
.filter-list-btn:hover, .filter-list-btn:focus, .btn-current {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.gallery-list {
    display: flex;
    flex-wrap: wrap;
}
.gallery-list-item {
    /* width: calc((100%-60px)/3); */
    width: 370px;
}
.gallery-list-item:hover, .gallery-list-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-list-item:not(:nth-child(3n)){
    margin-right: 30px;
}
.gallery-list-item:not(:nth-last-child(-n+3)){
    margin-bottom: 30px;
}

.gallery-list-contect {
    padding: 20px 24px;

    border: 1px solid var(--secondary-border-color);
}
.gallery-list-name {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;    
    color: var(--secondary-text-color);
}
.gallery-list-category {
    font-size: 16px;
    line-height: 1.88;
    color: var(--main-text-color);
}
/* ===== END PORTFOLIO PAGE===== */

/* ===== CONTACT PAGE ===== */
.contact {
     background-color: var(--secondary-bg-color);
     text-align: center;
}
.contact-title {
    margin-bottom: 50px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}
.contact .link {
    color: var(--secondary-text-color);
}
.contact .link:hover, .contact .link:focus {
    color: var(--accent-color);
}
.contact .address-list-item:not(:last-child) {
    margin-bottom: 20px;
}

/* ===== END CONTACT PAGE ===== */