.clients-list {
    @extend %list;
    display: flex;
    justify-content: center;

    &__item {
        &:not(:last-child) {
                margin-right: 30px;
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 170px;
        height: 92px;

        border: 1px solid $svg-color;
        border-radius: 5px;

        transition: border-color 250ms $timing-function;

        &:hover,
        &:focus {
            border-color: $accent-color;
        }
    }
    &__svg {
        fill: $svg-color;

        transition: fill 250ms $timing-function;
    
        .clients-list__link:hover &,
        .clients-list__link:focus & {
            fill: $accent-color;
        }
    }
}