.page-header {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;

    border-bottom: 1px solid var(--primary-border-color);
    background-color: var(--primary-white-color);
}

.page-header--no-border {
    border-bottom: none;
}

