.page-header {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;

    border-bottom: 1px solid $primary-border-color;
    background-color: $primary-white-color;

    &--no-border {
        border-bottom: none;
    }
}



