// contact-list
.contact-list {
    @extend %list;
    display: flex;
    margin-left: auto;

    &__item {
        &:not(:last-child) {
                margin-right: 50px;
            }
    }

    &__link {
        @extend %link;
    
        display: flex;
        align-items: center;
    
        padding-top: 32px;
        padding-bottom: 32px;
    
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: currentColor;
    
        transition: color 250ms $timing-function;

        &:hover,
        &:focus {
                color: $accent-color;
            }
        }

    
    &__svg {
        margin-right: 10px;

        transition: fill 250ms $timing-function;

        .contact-list__link:hover &,
        .contact-list__link:focus & {
                fill: $accent-color;
            }
}
}


// social-list
.social-list {
    @extend %list;
    display: flex;
    justify-content: center;

    &__link {
        @extend %link;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;

        border-radius: 50%;
  
        transition: background-color 250ms $timing-function;

        &:hover,
        &:focus {
                background-color: $accent-color;

                .page-footer &,
                .page-footer & {
                        background-color: $accent-color;
                    }
            }

        .page-footer & {
                background-color: rgba(255, 255, 255, 0.1);
        
                transition: background-color 250ms $timing-function;
                }
    }

    &__item {
        &:not(:last-child) {
                margin-right: 10px;
            }
    }

    &__svg {
    fill: $svg-color;

    transition: fill 250ms $timing-function;

        .social-list__link:hover &,
        .social-list__link:focus & {
            fill: $primary-white-color;
        }

        .page-footer & {
            fill: $primary-white-color;
        }
    }
}


// address-list
.address-list {
    @extend %list;

    &__item {
        &:not(:last-child) {
                margin-bottom: 5px;
            }
    }

    &__link {
        @extend %link;

        &--white {
            color: $primary-white-color;
    
            transition: color 250ms $timing-function;

            &:hover,
            &:focus {
                    color: $accent-color;
                }
        }
        &--grey {
            color: $contact-color;
    
            transition: color 250ms $timing-function;

            &:hover,
            &:focus {
                color: $accent-color;
            }
        }
    }
}
