*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-text-color;
    background-color: $primary-white-color;
}

.address {
    font-style: normal;
}

button {
    font-family: $main-font;
    font-style: normal;
    cursor: pointer;
}

img {
    display: block;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &--notoppadding {
            padding-top: 0px;
        }

    &__title {
            margin-bottom: 50px;
        
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            color: $secondary-text-color;
        }
}

