.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $mobile) {
            width: 480px;

        }
    @media screen and (min-width: $tablet) {
            width: 768px;
        }
    @media screen and (min-width: $desctop) {
            width: 1200px;
        }
}

.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-footer__container {
    @media screen and (min-width: $desctop) {
        display: flex;
        justify-content: space-between;
    }
   
}