    // fonts
    
    $main-font: 'Roboto', sans-serif;
    $secondary-font: 'Raleway', sans-serif;

    // colors

    $accent-color: #2196F3;

    $main-text-color: #757575;
    $secondary-text-color: #212121;

    $primary-white-color: #FFFFFF;
    $primary-black-color: #000000;

    $primary-bg-color: #2F303A;
    $secondary-bg-color: #F5F4FA;
    $hero-bg-color: #C4C4C4;

    $contact-color: #ffffff99;

    $primary-border-color: #ECECEC;
    $secondary-border-color: #EEEEEE;
    
    $svg-color: #AFB1B8;

    // timing-function

    $timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    // for advantages section (for generate ::before)

    $urlPathOfNames: 'antenna', 'clock', 'diagram', 'astronaut';

    // breakpoints
    $mobile: 480px;
    $tablet: 768px;
    $desctop: 1200px;